.styles-module_chatHeader__gaeOA {
  background-color: #28c6fb !important;
}
.styles-module_message__Z9MOV {
  padding: 7px 7px 6px !important;
}
.styles-module_chatBody__VBxQH {
  padding: 10px !important;
}
